@import url('https://fonts.googleapis.com/css2?family=Fira+Code&&family=Roboto&display=swap');
* {
    box-sizing: border-box;
}
body {
    @apply text-default;
}
svg.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.dynamic-content a {
  @apply text-accent1 hover:text-accent2;
}
.swiper-container {
  min-width: 0;
  overflow: hidden;
}
.swiper-pagination {
  @apply space-x-3 flex justify-center mt-5;
}
.swiper-pagination-bullet {
  @apply bg-default h-2 w-10 inline-block cursor-pointer rounded-sm;
}
.swiper-pagination-bullet-active {
  @apply bg-accent1;
}

.swiper-button-prev,
.swiper-button-next {
  @apply absolute top-1/2 -translate-y-1/2 p-3 bg-deep z-10 cursor-pointer select-none rounded-sm border border-border-color opacity-0 transition-opacity; 
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  @apply opacity-100;
}
.swiper-button-prev {
  @apply left-2 rotate-180;
}
.swiper-button-next {
  @apply right-2;
}
.input-area label {
  @apply block mb-1;
}
.input-area input,
.input-area textarea {
  @apply bg-deep border-border-color border text-lg px-2 py-2 rounded-md w-full;
}
.input-area input:focus,
.input-area textarea:focus {
  @apply outline-none border-accent2;
}

.scrollbar {
    @apply overflow-y-auto;
}
.scrollbar::-webkit-scrollbar {
    @apply w-5 border-0 border-l-2 border-border-color border-solid;
}
.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-default border-[5px] border-solid border-transparent outline-0 bg-clip-padding;
}
.scrollbar-always {
    @apply overflow-y-auto lg:overflow-y-scroll;
}